.menu-test {
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 500px;
  height: 500px;
  margin: 100px auto 0 auto;
  position: relative;
  overflow: hidden;
  &__wrapper {
    position: absolute;
    top: 0;
    left: -272px;
    height: 100%;
    width: 300px;
    background-color: rgba(0,0,0,.5);
    padding: 30px 0 0 50px;
    transition: left .5s ease-in;
    &:hover {
      left: 0;
      .menu-test__label {
        transition: opacity .5s ease-in;
        opacity: 0;
      }
    }
  }
  &__item {
    position: relative;
    &:not(:first-child) {
      margin-top: 15px;
    }
    &:before {
      content: '';
      display: block;
      height: 10px;
      width: 10px;
      border: 1px solid black;
      background-color: goldenrod;
      position: absolute;
      left: -20px;
      top: calc(50% - 5px);
      transform: rotate(45deg);
    }
  }
  &__link {
    text-decoration: none;
    color: #fff;
    transition: color .4s ease-in;
    &:hover {
      color: goldenrod;
    }
  }
  &__label {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: rotate(90deg);
    color: #fff;
    transition: opacity .5s ease-in;
    opacity: 1;
  }
}